.DS_Store
/For_docker/.DS_Store
/For_docker/._DS_Store
/For_docker/images/output
/For_docker/images/.DS_Store
/For_docker/src4docker/__pycache__
/For_docker/src4docker/.vscode
/For_docker/src4docker/.DS_Store
/SimCol3D-task1-depth-docker/images/output
/SimCol3D-task1-depth-docker/images/.DS_Store
/SimCol3D-task1-depth-docker/src/__pycache__
/SimCol3D-task1-depth-docker/src/.vscode
/SimCol3D-task1-depth-docker/src/.DS_Store
/SimCol3D-task2_pose-docker/images/output
/SimCol3D-task2_pose-docker/images/.DS_Store
/SimCol3D-task2_pose-docker/src/__pycache__
/SimCol3D-task2_pose-docker/src/.vscode
/SimCol3D-task2_pose-docker/src/.DS_Store
/SimCol3D-task3_pose-docker/images/output
/SimCol3D-task3_pose-docker/images/.DS_Store
/SimCol3D-task3_pose-docker/src/__pycache__
/SimCol3D-task3_pose-docker/src/.vscode
/SimCol3D-task3_pose-docker/src/.DS_Store

